.btn {
    display: block;
    margin-left: auto;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #c70101;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    outline: none;
    border:none;
    color: #ffffff;
    font-family: "Museo Sans Cyrl";
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    &:focus {
        outline: none;
    }
    &:active {
        box-shadow: none;
        height: 27px;
        margin-top: 3px;
    }
}
.promo__btn {
    margin-top: 65px;
    width: 300px;
    height: 50px;
    &:active {
        margin-top: 68px;
        height: 47px;
    }
}
.consultation__btn {
    margin-left: 0;
    margin-top: 20px;
    width: 300px;
    height: 55px;
    font-size: 16px;
    &:active {
        margin-top: 23px;
        height: 52px;
    }
}